{#
/**
 * @file
 * News card component template.
 *
 * Available variables:
 * - title: The title of the news item.
 * - url: The URL to the news item.
 * - image: The image render array.
 * - date: The publication date.
 * - summary: Brief summary of the news.
 * - category: Category label.
 */
#}
<article class="news_card">
  {% if image %}
    <figure class="news_card-image">
      {{ image }}
    </figure>
  {% endif %}

  <div class="news_card-content">
    {% if category %}
      <span class="news_card-category">{{ category }}</span>
    {% endif %}

    {% if date %}
      <time class="news_card-date" datetime="{{ date|date('Y-m-d') }}">
        {{ date|date('Y.m.d') }}
      </time>
    {% endif %}

    <h3 class="news_card-title">
      <a href="{{ url }}">{{ title }}</a>
    </h3>

    {% if summary %}
      <p class="news_card-summary">{{ summary }}</p>
    {% endif %}
  </div>
</article>
